.containers {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  .dice{
    text-align: center;
    display: inline-block;
  }
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
    display: inline;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  i{
      display: inline;
      margin: 0%;
      color: red;
      vertical-align: 15px;
      font-size: 6rem;
  }
  .foot{
      text-align: center;
      font-size: 1rem;
      margin: 2rem;
  }